.container-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #001;
  padding: 20px;
  border-radius: 50px;
  min-width: 30rem;
  min-height: 10rem;
}
.profile {
  height: 200px;
  border-radius: 50%;
  transition: all 0.5s;
}
.profile:hover {
  transform: scale(1.1);
  cursor: pointer;
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #112;
  color: #fff;
  transition: all 0.5s;
  width: 50%;
}

input:focus {
  background: #223;
  color: #fff;
  border: none;
  outline: none;
}

button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #112;
  color: #fff;
  transition: all 0.5s;
  width: 50%;
}

button:hover {
  background: #223;
  color: #fff;
  border: none;
  outline: none;
}
